!docker/configuration.properties
scripts/node_modules

!time-*

run_output/
test_vcf_files/*
!test_vcf_files/test-100.vcf
!test_vcf_files/test-1k.vcf
!test_vcf_files/test-10k.vcf
RMLStreamer-v2.5.0-standalone.jar
out/
tsv/
run_metrics/
__pycache__/
*.py[cod]
.venv/
.DS_Store
*.cover
